@using System.Data.SqlClient
@model List<Cart>

<link rel="stylesheet" href="~/scss/RestaurantStyle.css">


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<script>
    function increaseCount(a, b) {
        var input = b.previousElementSibling;
        var value = parseInt(input.value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        input.value = value;
    }

    function decreaseCount(a, b) {
        var input = b.nextElementSibling;
        var value = parseInt(input.value, 10);
        if (value > 1) {
            value = isNaN(value) ? 0 : value;
            value--;
            input.value = value;
        }
    }

    var input = document.getElementById("div");
    if (input) {
        input.addEventListener("keypress", function(event) {
          if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("update").click();
          }
        });

    }

</script>


@{
    int Total_Price = 0;
    int Id = 0;

    
    int Total_Price1 = 0;
    int Id1 = 0;
}



@if(ViewBag.Cart=="Empty"){
    <div align="center" style="align-content:center;align-items:center;justify-content:center;margin-top:30px;">
        <img src="https://tse3.mm.bing.net/th/id/OIP.kQbZlYiaWUw5IXu3fVdJkAHaHa?w=194&h=194&c=7&r=0&o=5&dpr=1.5&pid=1.7" style="width:150px;height:150px;"/>
        <h4 style="color:#535665;font-size: 20px;font-weight: 600;">Your Cart is Empty</h4>
        <p style="color:#7e808c">You can go to home page to view more restaurants</p>
        <a asp-controller="FoodSite" asp-action="Restaurants" class="btn btn-primary" style="background-color:orange;color:white;font-weight:bold;border-color:orange">SEE RESTAURANTS</a>

    </div>
}
else
{
    int items = Model.Count();

@*@using(@Html.BeginForm("DeleteItemFromCart","FoodSite",FormMethod.Post))
@*<form method="post">*@
//{
<h3 style="font-family:'Roboto Black', sans-serif;color:#535665;font-weight:bold;margin-top:10px">CART</h3>
    
<p>You have @items items in your cart</p>








  <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                @foreach(var obj1 in Model)
                {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    @*<a href="">*@
                        <div class="card-flyer">
                            <div class="text-box">
                                     <div class="image-box">
                                        <img src="@obj1.FoodImage" alt="" />
                                        </div>
                                        <div class="text-container">
                                            <h6>@obj1.FoodItem</h6>
                                            <p>Price : @obj1.Price</p>
                                           @* <p>Quantity : @obj1.Quantity</p>*@
                                           @* v*/////////////////////////////////////*@

                                           <br/>
                                          

                                        @using (@Html.BeginForm("UpdateCart", "FoodSite", FormMethod.Post))
                                        {
                                            <div id="div">
                                                 <div class="counter">
                                                        @*<span class="down" onClick='decreaseCount(event, this)'>-</span>*@
                                                        <span class="down" onclick='decreaseCount(event, this)' style="width:25px !important;border:none;background-color:lightgrey !important;display:inline-block;cursor:pointer">-</span>
                                                        <input type="text"  value="@obj1.Quantity" style="width:50px" class="text-center" name="Quantity">
                                                        @*<span class="up" onClick='increaseCount(event, this)'>+</span>*@
                                                        <span class="up" onclick='increaseCount(event, this)' style="width:25px !important;border:none;background-color:lightgrey !important;display:inline-block;cursor:pointer">+</span>
                                                 </div>
                                                 <div class="d-none">
                                                    <input name="ItemNo" value="@obj1.ItemNo"/>
                                                 </div>
                                            </div>
                                            <br/>

                                            <button class="btn btn-primary d-none" style="background-color:orange;border-color:orange" id="update">update</button>
                                       

                                        @* <input type="submit" style="position:absolute; left:-9999px;width:1px;height:1px;" tabindex="-1"/>*@

                                        }


                                            <a class="btn btn-primary" asp-controller="FoodSite" asp-action="DeleteItemFromCart" asp-route-Id="@obj1.ItemNo" style="background-color:orange;border-color:orange">Remove</a>
                                            
                                            @{
                                                Total_Price1 = Total_Price1 + obj1.Price * obj1.Quantity;
                                                Id1 = obj1.RestaurantId;
                                            }
                                        </div>
                                   
                            </div>
                        </div>
                   @* </a>*@
                </div>
                 }
            </div>
        </div>
    </div>   

<h4 style="text-align:right;margin-top:10px">Total Price : @Total_Price1</h4>
<br/>

<a class="btn btn-primary" asp-controller="FoodSite" asp-action="Restaurants" style="background-color:white;border-color:orange;color:orange">Add Items</a> 
<a class="btn btn-primary" asp-controller="FoodSite" asp-action="CustomerDetails" type="submit" style="background-color:white;border-color:orange;float:right;color:orange" >Checkout</a>
}
